<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g" id="contentToConvert">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Centro de Custo</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" placeholder="Informe o nome do centro de custo" 
        name="nome" [(ngModel)]="centroDeCusto.nome" #nome="ngModel" required>

        <app-message [control]="nome" error="required" text="Informe um nome"></app-message>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Status</label>
        <p-dropdown [options]="status" placeholder="Selecione"
        name="ativo" [(ngModel)]="centroDeCusto.ativo" #ativo="ngModel" required></p-dropdown>

        <app-message [control]="ativo" error="required" text="Selecione uma opção"></app-message>

      </div>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" class="ui-button-success" [disabled]="f.invalid"></button>
      <button pButton type="button" label="Novo" class="ui-button-success" style="margin: 5px;" (click)="novo(f)"></button>
      <button pButton (click)="generatePDF(f)" label="Gerar PDF" class="ui-button-success gerarPdf"></button>
      <button pButton type="button" label="Voltar para pesquisa" class="ui-button-success" style="margin: 5px;" routerLink="/centrodecusto"></button>
    </div>
  </form>
</div>
