<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Nova' }} Entrada de Medicamento</h1>
      </div>

      <div class="ui-g-6 ui-fluid">
        <label>Data Entrada</label>
        <p-calendar dateFormat="dd.mm.yy" [locale]="pt" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:3000" placeholder="Informe uma data"
        name="dataEntrada" [(ngModel)]="entradaMedicamento.dataEntrada" #dataEntrada="ngModel" required></p-calendar>
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Nome do Fornecedor</label>
        <p-dropdown [options]="fornecedores" [filter]="true" placeholder="Selecione" 
        name="fornecedor" [(ngModel)]="entradaMedicamento.fornecedor.codigo" #fornecedor="ngModel" required></p-dropdown>
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Nota Fiscal</label>
        <input pInputText type="text" placeholder="Informe o número da nota fiscal" name="numeroNotaFiscal"
        [(ngModel)]="entradaMedicamento.numeroNotaFiscal" #numeroNotaFiscal="ngModel" required>
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Nome do Medicamento</label>
        <p-dropdown [options]="medicamentos" [filter]="true" placeholder="Selecione" 
        name="medicamento" [(ngModel)]="entradaMedicamento.medicamento.codigo" #medicamento="ngModel" required></p-dropdown>
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Data de Fabricação</label>
        <p-calendar dateFormat="dd.mm.yy" [locale]="pt" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:3000" placeholder="Informe uma data"
        name="dataFabricacao" [(ngModel)]="entradaMedicamento.dataFabricacao" #dataFabricacao="ngModel" required></p-calendar>
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Data de Validade</label>
        <p-calendar dateFormat="dd.mm.yy" [locale]="pt" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:3000" placeholder="Informe uma data"
        name="validade" [(ngModel)]="entradaMedicamento.validade" #validade="ngModel" required></p-calendar>
      </div>
      <div class="ui-g-4 ui-fluid">
        <label>Lote</label>
        <input pInputText type="text" placeholder="Informe o lote" name="lote"
        [(ngModel)]="entradaMedicamento.lote" #lote="ngModel" required>
      </div>
      <div class="ui-g-4 ui-fluid">
        <label>Quantidade</label>
        <input pInputText type="text" placeholder="Informe a quantidade" name="quantidade"
        [(ngModel)]="entradaMedicamento.quantidade" #quantidade="ngModel" required>
      </div>
      <div class="ui-g-4 ui-fluid">
        <label>Valor Unitário</label>
        <input pInputText type="text" placeholder="0,0" name="valorUnitario"
        [(ngModel)]="entradaMedicamento.valorUnitario" #valorUnitario="ngModel" required>
      </div>
     

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="ui-button-success" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-success" 
        [routerLink]="['/entradamedicamentos/novo']" style="margin: 5px;"></button>
        <a [routerLink]="['/entradamedicamentos']">Voltar para pesquisa</a>
      </div>
    </div>

  </form>
</div>