<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Dashboard</h1>
    </div>

    <div class="ui-g-12">
      <p-panel header="Quantidade de entrada de Medicamentos por mês" [toggleable]="true">
        <p-chart type="pie" [data]="medicamentoPorMes"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-12 ui-g-fluid">
      <p-panel header="Quantidade de saida de medicamentos para pacientes no mês" [collapsed]="true"
        [toggleable]="true">
        <p-chart type="pie" [data]="saidaPacientes"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-12 ui-g-fluid">
      <p-panel header="Quantidade de saida de medicamentos para centro de custo no mês" [collapsed]="true"
        [toggleable]="true">
        <p-chart type="pie" [data]="saidaCentroDeCusto"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-12 ui-g-fluid">
      <p-panel header="Quantidade de entrada de Correlatos por mês" [collapsed]="true" [toggleable]="true">
        <p-chart type="pie" [data]="correlatosPorMes"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-12 ui-g-fluid">
      <p-panel header="Quantidade de saida de Correlatos por mês" [collapsed]="true" [toggleable]="true">
        <p-chart type="pie" [data]="saidaCorrelatosPorMes"></p-chart>
      </p-panel>
    </div>

  </div>
</div>