<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"> <i class="pi pi-bars">
          </i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_MEDICO')"><a routerLink="/medicos">Médico</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_PACIENTE')"><a routerLink="/pacientes">Paciente</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_FORNECEDOR')"><a routerLink="/fornecedores">Fornecedores</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_CENTRO_DE_CUSTO')"><a routerLink="/centrodecusto">Centro de Custo</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_ENTRADA_DE_MEDICAMENTO')"><a routerLink="/entradamedicamentos">Medicamentos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_ENTRADA_DE_CORRELATO')"><a routerLink="/entradacorrelatos">Correlatos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a href="javascript:;" (click)="logout()">Sair</a></li>
  </ul>
</nav>