<div class="container">
  
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Usuários</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome Usuario</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" class="ui-button-success"></button>
      </div>
    </div>
  </form>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="usuarios" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela >
        <ng-template pTemplate="header">
          <tr>
            <th class="col-codigo-header">CODIGO</th>
            <th>NOME</th>
            <th class="col-telefone">EMAIL</th>
            <th class="col-data-header">TIPO</th>
            <th class="col-status-header">STATUS</th>
            <th class="col-valor-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td class="col-codigo-content">{{user.codigo}}</td>
            <td>{{user.nome}}</td>
            <td>{{user.email}}</td>
            <td class="col-data-content">{{user.tipo}}</td>
            <td class="col-status-content">
              <a href="javascript:;"
                [pTooltip]="user.ativo ? 'Desativar' : 'Ativar'"
                tooltipPosition="top"
                (click)="alternarStatus(user)">
                {{ user.ativo ? 'Ativo' : 'Inativo' }}
              </a>
            </td>
            <td class="col-acoes">
              <button pButton icon="pi pi-pencil" style="margin-right: 5px;" pTooltip="Editar" class="button-acoes"
              [routerLink]="['/usuario', user.codigo]" [disabled]="!auth.temPermissao('ROLE_CADASTRAR_MEDICAMENTO')"></button>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" class="button-acoes" (click)="confirmarExclusao(user)" [disabled]="!auth.temPermissao('ROLE_REMOVER_MEDICAMENTO')"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          Nenhum usuario encontrado
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <button pButton label="Novo Usuario" [routerLink]="['/usuario/novo']" class="ui-button-success"></button>
    </div>
  </div>
</div>
