<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g" id="contentToConvert">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Correlato</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" placeholder="Informe o nome do medicamento" name="nome" 
         [(ngModel)]="correlato.nome" #nome="ngModel" required>
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" [filter]="true" placeholder="Selecione" 
        name="categoria" [(ngModel)]="correlato.categoriaCorrelato.codigo" #categoria="ngModel" required ></p-dropdown>

      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Apresentação</label>
        <p-dropdown [options]="apresentacao" [filter]="true"  placeholder="Selecione"
        name="unidadeDeMedida" [(ngModel)]="correlato.unidadeDeMedida" #unidadeDeMedida="ngModel"></p-dropdown>
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Quantidade Mínima</label>
        <input pInputText type="text" placeholder="Informe o nome do medicamento" name="quantidadeMinima" 
        [(ngModel)]="correlato.quantidadeMinima" #quantidadeMinima="ngModel">
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Localização</label>
        <input pInputText type="text" placeholder="Informe o nome do medicamento" name="localizacao" 
         [(ngModel)]="correlato.localizacao" #localizacao="ngModel">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Status</label>
        <p-dropdown [options]="status"  placeholder="Selecione" name="ativo"
        [(ngModel)]="correlato.ativo" #ativo="ngModel" required></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" class="ui-button-success" [disabled]="f.invalid"></button>
      <button pButton type="button" label="Novo Cadastro" class="ui-button-success" style="margin: 5px;" (click)="novo(f)" ></button>
      <button pButton (click)="generatePDF(f)" label="Gerar PDF" class="ui-button-success gerarPdf"></button>
      <button pButton type="button" label="Voltar para pesquisa" class="ui-button-success" style="margin: 5px;" routerLink="/tiposcorrelatos"></button>
    </div>
  </form>
</div>
